body{
  --theme-blue: blue;
}

.App {
  text-align: center;
}

.c4-blog {
  width: 75%;
  margin: auto;
}

.c4-blog-heading p{
  font-size: 75px;
}

.carousel {
  margin: auto;
  width: 75%;
  height: 500px;
}

.image-slide {
  font-weight: lighter;
  color: white;
  position: relative;
	height: 100%;
  width: 100%;
}

.image-slide img{
  position: relative;
  width: 100%;
  height: 100%;
}

.layer{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
}

.c4-blog-img-details{
  position: relative;
  max-width: 500px;
  height: fit-content;
  text-align: left;
  top: 50%;
  transform: translate(0,-50%);
  left: 1rem;
}

.c4-blog-tag{
  position: relative;
  margin: 0.5rem 0;
  display: flex;
}

.dev-head{
  background-color: blue;
  padding: 0.1rem 0.5rem;
  border-radius: 4px;
  color: white;
  font-weight: lighter;
}

.dev-date{
  position: relative;
  padding: 0.1rem 0;
  margin-left: 1rem;
  color: white;
  font-weight: lighter;
}

.h{
  margin: 0.5rem 0;
  position: relative;
  font-size: 26px;
  color: white;
  font-weight: lighter;
}

.d{
  position: relative;
  font-size: 1rem;
  margin: 0.5rem 0;
  text-decoration-skip-ink: auto;
}

.c4-carousel-button{
  position: relative;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  z-index: 2;
  background-color: transparent;
  color: blue;
  outline: none;
  border: 1px solid blue;
}

.c4-carousel-button:hover{
  background-color: blue;
  color: white;
}

/* main-card.js */

.c4-main-card{
  position: relative;
  width: 75%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
}

.c4-blog-main-card{
  position: relative;
  width: 31%;
  height: 300px;
}

.c4-blog-main-card img{
  position: relative;
  width: 100%;
  height: 100%;
}

.main-card-tag{
  width: fit-content;
  margin: auto;
}

.c4-blog-main-card-details{
  position: absolute;
  width: 100%;
  top: 50%;
}

.layer-hover:hover{
  background: rgba(0,0,0,0.75);
  transition: background 0.3s ease-out;
}

/* second-blog.js */

.c4-second-blog{
  position: relative;
  width: 75%;
  height: fit-content;
  margin: auto;
  top: 7rem;
}

.c4-second-blog-head h1{
  position: relative;
  text-align: left;
  font-weight: normal;
}

.c4-second-blog-details{
  position: relative;
  display: flex;
  height: 100%;
  margin-bottom: 7rem;
}

.c4-second-blog-left{
  width: 66.66666%;
  height: 100%;
}

.left{
  position: relative;
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 38px;
}


.c4-second-blog-right{
  width: 33.33333%;
  height: 100%;
}

.blog-card{
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0,0,0,0.1);
}

.blog-card img{
  width: 100%;
}

.blog-card-details{
  padding: 20px;
}

.blog-card-h{
  text-align: left;
  font-size: 18px;
  color: black;
  font-weight: 400;
  margin-bottom: 20px;
}

.c4-bio-box{
  position: relative;
  float: right;
  padding: 15px;
  width: 75%;
  height: fit-content;
  border: 1px solid rgba(0,0,0,0.1);
}

.c4-bio-box img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: -4em;
  margin-bottom: 30px;
}

.bio h2{
  position: relative;
  font-weight: 600;
  font-size: 1rem;
  margin: 0 auto;
}

.bio p{ 
  font-weight: lighter;
  font-size: 0.9rem;
  color: rgba(0,0,0,0.75);
  line-height: 1.5rem;
}

.explore-bio{
  padding: 0.5rem 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  background-color: blue;
  color: white;
  outline: none;
  border: none;
  font-size: 0.9rem;
  border-radius: 4px;
}

.c4-more-blog-post{
  height: 1000px;
  width: 66.6666%;
}

.more-post-card{
  width: 100%;
  height: 172px;
  border: 1px solid rgba(0,0,0,0.1);
  display: flex;
  margin-bottom: 28px;
}

.more-post-card:hover{
  box-shadow: 0 0 4px rgba(0, 174, 255, 0.4);
}

.more-post-card img{
  width: 33.3333%;
  position: relative;
  float: left;
  height: 100%;
}

.post-card-details{
  position: relative;
  padding: 30px 20px;
  width: 66.6666%;
}

.more-post-card-h{
  margin: auto; 
}

.pop-box{
  border: none;
}

.popular-head{
  font-weight: lighter;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.pop-post-card-h{
  font-size: 1rem;
  font-weight: lighter;
}